.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.keywordBtn {
  border: 1px solid black;
  display: inline;
  width: 80px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  margin: 5px 25px;
  font-size: 18px;
}

.like {
  background-color: blue;
  color: white;
}

.hate {
  background-color: red;
  color: white;
}
.submitBox {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.submitBtn {
  text-align: center;
  border: 1px solid black;
  width: 150px;
  border-radius: 50px;
  height: 40px;
  background-color: #323c63;
  color: white;
  cursor: pointer;
}

.sbox {
  background-color: rgba(125, 123, 160, 0.521);
  padding: 30px;
  border-radius: 20px;
}

.text {
  text-align: center;
  margin: 10px;
}

.showmore {
  display: block;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
}
