.title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
}

.explain {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(100, 100, 100);
}

.keywordBtn {
  border: 1px solid black;
  display: inline;
  width: 100px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  margin: 12px 25px;
  font-size: 20px;
}

.like {
  background-color: blue;
  color: white;
}

.hate {
  background-color: red;
  color: white;
}
.submitBox {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.submitBtn {
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
  border-radius: 50px;
  height: 40px;
  background-color: #323c63;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.sbox {
  background-color: rgba(211, 210, 238);
  padding: 30px;
  border-radius: 20px;
}

.text {
  text-align: center;
  margin: 10px;
}

.showmore {
  display: block;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  color: rgb(100, 100, 100);
  background-color: rgba(255, 255, 255, 0);
}
